numpy
scipy
pandas
matplotlib
requests
joblib
openpyxl
xlsxwriter
tqdm
plotly
fanchart
bayesian-optimization
arm-mango
pybind11
seaborn
covbayesvar
MBFVAR @ git+https://github.com/laurentflorin/MBFVAR.git
